
:root {
  --beige: rgb(222, 211, 200); /* Creamy Beige (Background/Neutral) */
  --gold: rgb(226, 188, 104); /* Warm Gold (Accents) */
  --terracotta: rgb(202, 121, 80); /* Muted Terracotta (Highlight) */
  --sage: rgb(130, 170, 130); /* Serene Sage (Freshness) */
  --brown: rgb(104, 73, 50); /* Rustic Brown (Text/Depth) */
  --gray: rgb(200, 190, 180); /* Soft Gray (Subtle Text or Borders) */
}

body {
  font-family: "Frank Ruehl CLM";
  font-size: 1.2rem;
  background-color: var(--beige);
}
ul {
  background-color: var(--brown);
}
p#beige {
  background-color: black;
}
a img {
  width: 200px;
}