
:root {
  --beige: rgb(222, 211, 200); /* Creamy Beige (Background/Neutral) */
  --gold: rgb(226, 188, 104); /* Warm Gold (Accents) */
  --terracotta: rgb(202, 121, 80); /* Muted Terracotta (Highlight) */
  --sage: rgb(130, 170, 130); /* Serene Sage (Freshness) */
  --brown: rgb(104, 73, 50); /* Rustic Brown (Text/Depth) */
  --gray: rgb(200, 190, 180); /* Soft Gray (Subtle Text or Borders) */
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Frank Ruehl CLM", Georgia, serif;
  font-size: 1.2rem;
  background-color: var(--beige);
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding: 1em;
  color: var(--brown);
}
h1 {
  color: var(--sage);
}
h2 {
  color: var(--terracotta);
}
div {
  border: .3em, solid, var(--gray);
  padding: 1em;
  margin: .25em auto;
}
.ingredients, .instructions {
  display: inline-block;
  box-sizing: border-box;
  max-width: 49%;
  vertical-align: top;
}
.icon {
  width: 200px;
}
ul, ol {
  text-align: justify;
}
::marker {
  color: var(--gold)
}
.color-list {
  text-align: center;
}
.colors::marker{
  content: none;
}
.final-product {
  width: 300px;
}
